<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zhihuDaily.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9FE52751C9844CC00C598A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9FE52911C9844CC00C598A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9FE529C1C9844CC00C598A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
